<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="Username" type="text" />
    <label for="email">E-mail</label>
    <input id="email" name="email" placeholder="E-mail" type="email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
</body>
</html>