<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Club</title>
</head>
<body>
    <h3>Enter passcode to join the Club!</h3>

    <label for="passcode">Type secret password!</label>
    <input id="passcode" name="passcode" type="text" />


</body>
</html>